.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--bg);
  padding-bottom: 300px;
  margin-top: 12px;
}

@media screen and (max-width: 1150px) {
  .main {
    padding-bottom: 50px;
  }
}
