.navbar {
    width: 746px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-items {
    display: flex;
}

.group-item {
    margin-right: 20px;
    font-size: 20px;
}

.menu-button {
    display: none;
    background: transparent;
    border: none;
    margin-left: 20px;
}

.close-navbar {
    display: none;
}

@media screen and (max-width: 1280px) {
    .navbar {
        width: 100%;
        justify-content: flex-end;
    }
    .group-item {
        font-size: 16px;
    }
}

@media screen and (max-width: 812px) {
    .group-items {
        display: flex;
        flex-direction: column;
    }
    
    .navbar {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .active {
        position: absolute;
        top: 0;
        width: 95%;
        height: 100vh;
        background-color: white;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .active .group-items {
        width: 100%;
    }
    
    .active .group-item {
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        padding: 8px 12px;
        font-weight: bold;
        border-bottom: 1px solid var(--dark-brown);
        color: var(--dark-brown);
    }
    .close-navbar {
        display: block;
        position: absolute;
        right: 0;
        margin-right: 45%;
        bottom: 10px;
        width: 50px;
        height: 50px;
        background-color: #33333330;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .group-buttons {
        padding: 8px 12px;
        margin-top: 12px;
    }
}